<div class="app-main" ng-controller="WelcomeController">
	<h2>Welcome to DevTest Bank</h2>
	<p>To get started, click the button below to create a new account. Or take a look at the existing customers <a href='~/HomeController/'>here</a></p>
	<a class="btn btn-lg btn-primary" href="#NewAccount">Create Account</a>
</div>




