<div class="app-main" ng-controller="CustomerController">
	<h2>Customer List</h2>
        <table class="table table-striped table-bordered table-hover table-checkable datatable">
            <thead class="grid-top-panel">
                <tr>
                    <th>CustomerID</th>
                    <th>First Name</th>
                    <th>LastName</th>
                    <th>CompanyName</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataModel in students">
                    <td>{{dataModel.CustomerID}}</td>
                    <td>{{dataModel.FirstName}}</td>
                    <td>{{dataModel.LastName}}</td>
                    <td>{{dataModel.CompanyName}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
