html {
	background-image: url('../../Images/BigtimeFullLogo.jpg');
	background-color: black;
}
/*body {
	background-image: url('../../Images/BigtimeFullLogo.jpg');
	background-color: black;
}*/
/* BT-color-orange: #dc4c45 */
nav {
	display: inline-block;
	width:100%;
	margin-right: auto;
	background-color: #dc4c45;
	box-shadow: 0 1px 1px #ccc;
	border-radius: 2px;
}

	nav a {
		display: inline-block;
		width: 23%;
		padding: 18px 30px;
		color: white !important;
		font-weight: bold;
		font-size: 16px;
		text-decoration: none !important;
		line-height: 1;
		text-transform: uppercase;
		background-color: transparent;
		-webkit-transition: background-color 0.25s;
		-moz-transition: background-color 0.25s;
		transition: background-color 0.25s;
		text-align: center;
	}

p b {
	color: #ffffff;
	display: inline-block;
	padding: 5px 10px;
	background-color: #DC64C6;
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

nav a {
	width: 23%;
	text-align: center;
}

#main-menubar {
	background-image: url('../../Images/BigtimeFullLogo.jpg');
	background-color: blue;
}
#main-container {
	min-height: 1px;
	height: 333px;
	width: 100%;
	background-color: black;
}

#main-container div {
	display: inline-block;

}

